.card{
    border: 3px solid #89593fd4;
    border-radius: 8px;
    padding: 1rem 1rem 0 1rem;
    cursor: default;
    margin: 1rem;
    background-color: #e19f604a;
    backdrop-filter: blur(10px);
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 2px rgb(68, 27, 5);
}

h3{
    margin: 0 0 0.5rem 0;
    color: #4c250c;
}

.content{
    margin: 0.5rem 0 0 0;
    color: #472b08;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
}

.info{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

small{
    color: #3f1f07;
}

/* .delete{
    background: red;
    border: 2px solid rgb(138, 41, 41);
} */